/*#region Шрифт Cera Pro*/
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Thin.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Medium.ttf');
    font-weight: 500;
}
/*#endregion Шрифт Cera Pro*/
body
{
    font-family: Cera Pro;
    height: 100%;
    margin: 0px;
}
body a { text-decoration: none;}
.hidden
{
    display: none;
}
/*#region Шапка*/
header
{
    z-index: 1;
    position: fixed;
    top: 0px;
    height: 128px;
    width: 100%;
    border-bottom: 1px solid #E0E0DD;
}
header a, span
{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
}
/*#region Верхняя половина*/
.header-top
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3.13%;
    background-color: #333333;
    height: 48px;
}
.header-top .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-top-buttons-container a
{
    margin-right: 58px;
}
.header-top-buttons-container a:last-child
{
    margin-right: 0px;
}
.header-top-info-container
{
    display: flex;
    align-items: center;
}
.header-top-phone
{
    margin-left: 54px;
    font-size: 20px;
    font-weight: 500;
}
/*#endregion Верхняя половина*/

/*#region Нижняя половина*/
.header-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #FFFFFF;
    height: 80px;
}
.header-bottom-menu-logo
{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
#menu-button
{
    margin-right: 25px;
}
.header-bottom-left
{
    display: flex;
    align-items: center;
}
.header-bottom-left a
{
    display: flex;
    align-items: center;
    height: 30px;
    margin-right: 70px;
}
.header-bottom-left a:last-child
{
    margin-right: 0px;
}
.header-bottom-left a span
{
    margin-right: 11px;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
}
.header-bottom-right
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom-right a
{
    margin-left: 28px;
}
.header-bottom-right a:first-child
{
    margin-left: 0px;
}
/*#endregion Нижняя половина*/

/*#endregion Шапка*/

/*#region Main*/
main
{
    height: 100%;
    padding: 140px 3.13% 560px 3.13%;
}

/*#region Большие баннеры сверху*/
.banners-container
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.banner
{
    position: relative;
    width: 32.6%;
}
.banner-img
{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.banner-text-container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 5%;
    padding-bottom: 7%;
}
.banner-gradient
{
    height: 290px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
    transform: rotate(-180deg);
}
.banner-text-line-1
{
    font-weight: 500;
    font-size: 20px;
}
.banner-text-line-2
{
    font-weight: 500;
    font-size: 35px;
}
.banner-text-line-2
{
    font-weight: 500;
    font-size: 34px;
}
/*#endregion Большие баннеры сверху*/

/*#region Заголовок раздела*/
.section-top-line
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}
.section-top-line span
{
    font-weight: 500;
    font-size: 28px;
    color: #333333;
}
.category-selection-container
{
    display: flex;
    align-items: center;
}
.category-selector
{
    display: flex;
    width: 120px;
    height: 40px;
    border: 1px solid #E0E0DD;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
}
.category-selector:last-child
{
    margin-right: 0px;
}
.category-selector-active
{
    display: flex;
    width: 120px;
    height: 40px;
    border: 1px solid #188145;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
}
.buttons-left-right-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-arrow
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #616161;
    border-radius: 4px;
    margin-left: 30px;
}
/*#endregion Заголовок раздела*/

/*#region Полоса товаров*/
.products-container
{
    display: flex;
    overflow: hidden;
}
.product-card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 560px;
    width: 360px;
    border: 1px solid #E0E0DD;
    border-right: 0px;
    padding: 20px;
}
.product-card:last-child
{
    border-right: 1px solid #E0E0DD;
}

/*#region Теги сверху*/
.product-card-tags-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card-tags
{
    display: flex;
    width: 152px;
}
.product-card-tag
{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.product-card-tag:last-child
{
    margin-right: 0px;
}
.best-offer
{
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #27AE60;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 0 1px #E0E0DD;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.best-offer::before
{
    content: "1";
    vertical-align: middle;
    margin-left: 8px;
}
/*#endregion Теги сверху*/

/*#region Контейнер в центре (фото, название, артикул, отзывы)*/
.product-card-center-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.product-card-name
{
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    text-align: center;
}
.product-card-article
{
    font-weight: 400;
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 24px;
    color: #188145;
}
.product-card-article::before
{
    content: "артикул: ";
}
.product-card-rating-comments-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-comments
{
    margin-left: 13.67px;
    margin-right: 4.73px;
}
.comments-amount
{
    font-weight: 500;
    font-size: 14px;
    color: #626262;
}
/*#endregion Контейнер в центре (фото, название, артикул, отзывы)*/

/*#region 2 строчки снизу*/
.product-card-info-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 20px;
}
.height
{
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80px;
    height: 26px;
    background-color: #616161;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
}
.diameter
{
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80px;
    height: 26px;
    background-color: black;
    font-weight: 500;
    font-size: 14px;
    color: #188145;
    border-radius: 6px;
    border: 1px solid #188145;
}
.img-height
{
    margin-right: 4px;
}
.img-diameter
{
    margin-right: 7px;
}
.in-stock
{
    font-weight: 400;
    font-size: 14px;
    color: #188145;
}
.product-card-price-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
.price
{
    font-weight: 500;
    font-size: 22px;
    color: #333333;
}
.new-price
{
    font-weight: 500;
    font-size: 22px;
    color: #27AE60;
}
.discounted-price
{
    font-weight: 400;
    font-size: 16px;
    color: #626262;
    text-decoration-line: line-through;
    margin-left: 10px;
}
.price::after, .new-price::after, .discounted-price::after
{
    content: " ₽";
}
.add-to-cart
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27AE60;
    width: 53px;
    height: 36px;
    border-radius: 5px;
}
/*#endregion 2 строчки снизу*/

/*#endregion Полоса товаров*/

/*#endregion Main*/

/*#region Подвал*/
footer
{
    height: 560px;
    background-color: #333333;
}
/*#region Верх*/
.footer-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    border-bottom: 1px solid;
    border-bottom-color: #535353;
    height: 90px;
}
.footer-top-buttons-container
{
    display: flex;
}
.footer-top-buttons-container a
{
    margin-right: 80px;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}
.footer-top-phone
{
    font-size: 24px;
    font-weight: 500;
}
/*#endregion Верх*/

/*#region Середина*/
.footer-middle
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 7%;
    height: 260px;
}
.navigation-container
{
    display: flex;
}
.footer-middle-list
{ list-style: none; }
.footer-middle-list span
{
    position: relative;
    bottom: 18px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-middle-list li
{
    margin-bottom: 18px;
}
.footer-middle-list a
{
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}
.feedback-container
{
    display: flex;
    flex-direction: column;
}
.feedback-container span
{
    font-weight: 500;
    font-size: 16px;
    margin-left: 8px;
}
.feedback-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 210px;
    border-radius: 4px;
    margin-bottom: 16px;
}
#btn-feedback-phone { background-color: #27AE60; }
#btn-feedback-tg { background-color: #4B4B4B; }
/*#endregion Середина*/

/*#region Низ*/
.footer-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    height: 209px;
}
.footer-bottom span
{
    color: #9C9C9C;
    font-size: 12px;
    text-transform: uppercase;
}
.social-media-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    margin: 0 10px;
    border: 1px solid #9C9C9C;
    border-radius: 50%;
}
.footer-bottom-social-media-buttons-container
{
    display: flex;
}
/*#endregion Низ*/

/*#endregion Подвал*/