/*#region Шрифт Cera Pro*/
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Thin.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Light.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Cera Pro;
    src: url('fonts/Cera-Pro/CeraPro-Regular.ttf');
    font-weight: 500;
}
/*#endregion Шрифт Cera Pro*/
html, body
{
    font-family: Cera Pro;
    height: 100%;
    margin: 0px;
}
main
{
    padding: 140px 60px 560px 60px;
}
/*#region Шапка*/
header
{
    z-index: 1;
    position: fixed;
    top: 0px;
    height: 128px;
    width: 100%;
    border-bottom: 1px solid #E0E0DD;
}
header a, span
{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}
/*#region Верхняя половина*/
.header-top
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #333333;
    height: 48px;
}
.header-top .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
}
.header-top-buttons-container a
{
    margin-right: 58px;
}
.header-top-info-container
{
    display: flex;
    align-items: center;
}
.header-top-phone
{
    margin-left: 54px;
    font-size: 20px;
    font-weight: 500;
}
/*#endregion Верхняя половина*/

/*#region Нижняя половина*/
.header-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 60px;
    background-color: #FFFFFF;
    height: 80px;
}
.header-bottom-menu-logo
{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
#menu-button
{
    margin-right: 25px;
}
.header-bottom-left
{
    display: flex;
    align-items: center;
}
.header-bottom-left a
{
    display: flex;
    align-items: center;
    height: 30px;
    margin-right: 70px;
}
.header-bottom-left a span
{
    margin-right: 11px;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
}
.header-bottom-right
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom-right a
{
    margin-left: 28px;
}
/*#endregion Нижняя половина*/

/*#endregion Шапка*/

/*#region Main*/
main
{
    height: 100%;
}

/*#region Большие баннеры сверху*/
.banners-container
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.banner
{
    position: relative;
    width: 32.6%;
}
.banner-img
{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.banner-text-container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 5%;
    padding-bottom: 7%;
}
.banner-gradient
{
    height: 290px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
    transform: rotate(-180deg);
}
.banner-text-line-1
{
    font-weight: 500;
    font-size: 20px;
}
.banner-text-line-2
{
    font-weight: 500;
    font-size: 35px;
}
.banner-text-line-2
{
    font-weight: 500;
    font-size: 34px;
}
/*#endregion Большие баннеры сверху*/

/*#region Заголовок раздела*/
.section-top-line
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-top-line span
{
    font-weight: 500;
    font-size: 28px;
    color: #333333;
}
.category-selection-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-selector
{
    display: flex;
    width: 120px;
    height: 40px;
    border: 1px solid #E0E0DD;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    margin-left: 20px;
}
.buttons-left-right-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-left
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #616161;
    border-radius: 4px;
}
.button-right
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #616161;
    border-radius: 4px;
    margin-left: 30px;
    transform: rotate(180deg);
}
/*#endregion Заголовок раздела*/

/*#endregion Main*/

/*#region Подвал*/
footer
{
    height: 560px;
    background-color: #333333;
}
/*#region Верх*/
.footer-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    border-bottom: 1px solid;
    border-bottom-color: #535353;
    height: 90px;
}
.footer-top-buttons-container
{
    display: flex;
}
.footer-top-buttons-container a
{
    margin-right: 80px;
    color: #BDBDBD;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}
.footer-top-phone
{
    font-size: 24px;
    font-weight: 500;
}
/*#endregion Верх*/

/*#region Середина*/
.footer-middle
{
    background-color: green;
    height: 260px;
}
/*#endregion Середина*/

/*#region Низ*/
.footer-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 139px;
    padding-right: 142px;
    height: 209px;
}
.footer-bottom span
{
    color: #9C9C9C;
    font-size: 12px;
    text-transform: uppercase;
}
.social-media-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 1px solid #9C9C9C;
    border-radius: 50%;
}
.footer-bottom-social-media-buttons-container
{
    display: flex;
}
.footer-bottom-social-media-buttons-container a
{
    margin-right: 20px;
}
/*#endregion Низ*/

/*#endregion Подвал*/